/* static/css/base.css */
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  background-color: #313131;
}

header {
  border-bottom: 1px solid #999;
  margin-bottom: 2rem;
  display: flex;
  color: #fff;
  padding: 5px;
  /* margin: 0; */
  width: 100%;
}

header h1 a {
  color: rgb(255, 235, 20);
  text-decoration: none;
}

header h1 a:hover {
  color: rgb(220, 200, 20);
}

/* .nav-left {
  margin-right: auto;
}

.nav-right {
  display: flex;
  padding-top: 2rem;
} */

.post-entry {
  margin-bottom: 2rem;
  display: grid;
}

.boxed {
  /* width: calc(40% - 25px); */
  margin-bottom: 20px;
  background-color: #535151;
  color: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.12);
}

.boxed-big {
  width: calc(80%);
  margin-bottom: 20px;
  background-color: #ebebeb;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.12);
}

.post-entry h2 {
  margin: 0.5rem 0;
}

.post-entry h2 a,
.post-entry h2 a:visited {
  color: rgb(80, 80, 255);
  text-decoration: none;
}

.post-entry p {
  margin: 0;
  font-weight: 400;
}

.post-entry h2 a:hover {
  color: red;
}

.post-date {
  font-size: 18px;
  color: #8d79fb;
  font-style: italic;
  text-align: right;
  padding-top: 6px;
}

.post-author {
  font-size: 22px;
  color: #8d79fb;
  text-align: right;
  padding-top: 6px;
}

.post-body p {

}

.box-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 45%);
  grid-gap: 20px;
}

.image img {
  max-width: 400px;
  max-width: 400px;
}

.likes a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #4267B2;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
}

.likes a :hover {
  background-color: #395693;
}